.matchRow{
    border-bottom: 1px solid #ddd;
}
@media only screen and (min-width: 800px){
    tr{
        height: 40px;
    }
}


td{
    border-bottom: 1px solid #ddd;
}

.matchBtn{
    color: white;
    background-color: #4CAF50;
    border-radius:  5px;
}

tr:nth-child(odd) {background-color: #f2f2f2}